<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSCalendar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GTMOAuth2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GTMSessionFetcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GoogleAPIClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-CompanyApp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Mesh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21B18F82F6FFC99A766DF086D799A571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2795E8835A5724CAF5033D2A1B6FBA59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D505932284C7172E62B61B1590FC7A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>868010619D7E6CBA5C6E6E2874668C85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D468777BEC2DE5127A16239373FFD11F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E39851D7319C916D1080C497EB9F3440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
